In [1]:
#!pip install -q lxml
#!pip install unidecode
import pandas as pd
import numpy as np
#import geopandas as gpd
import urllib#pour récupérer les données
import bs4#pour rendre lisibles les données
import lxml
import re
import time
from unidecode import unidecode
import urllib

from urllib import request

In [2]:
def Scrap (url):
    req = urllib.request.Request(url)
    html = urllib.request.urlopen(req).read()
    page = bs4.BeautifulSoup(html, "lxml")
    return page

In [3]:
def ToDf (table) :
    Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
    listeDf=Listgrossiere[0]#on récupère le dataframe
    return listeDf

In [4]:
page=Scrap('https://fr.wikipedia.org/wiki/Liste_des_noms_fran%C3%A7ais_des_villes_europ%C3%A9ennes')

In [5]:
tables = page.findAll('table')
table = tables[0]
liste=ToDf(table)
listelien=[]
#for i in range(32):
#    page=Scrap('http://www2.assemblee-nationale.fr/sycomore/resultats/(offset)/'+str((i+1)*500)+'/(query)/IiBTRUxFQ1QgbV9jb2RlX2RlcHV0ZSwgaWRfYWN0ZXVyX3RyaWJ1biwgbGVnX21heF90cmlidW4sIG5vbSwgbm9tX2FmZmljaGUsIHByZW5vbSwgZGF0ZV9uYWlzLCBkYXRlX2RlY2VzIEZST00gZGVwdXRlIFdIRVJFIDE9MSAgQU5EIG1fY29kZV9kZXB1dGUgSU4gKFNFTEVDVCBtX2NvZGVfZGVwdXRlIEZST00gbWFuZGF0LCBkZXBhcnRlbWVudCAgV0hFUkUgbWFuZGF0Lm1fbnVtX2RlcCA9IGRlcGFydGVtZW50Lm1fbnVtX2RlcCBBTkQgbWFuZGF0Lm1fdHlwZV9tYW5kYXQgPSAxICkgT1JERVIgQlkgZGF0ZV9uYWlzIERFU0Mi')
table = page.find('table')#on récupère le seul tableau de la page qui liste des députés
listeDf=ToDf(table)
liste=pd.concat([liste,listeDf])#on récupère le dataframe et on l'ajoute à la liste  
for ele in table.findAll('a'):
    listelien.append(ele.get('href'))
liste=liste.reset_index()#on recrée un index afin de ne pas s'arrêter à 500 puis recommencer comme dans les pages web

C:\Users\sylva\AppData\Local\Temp\ipykernel_340\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_340\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes

In [6]:
page_dep=Scrap('https://fr.wikipedia.org/wiki/Liste_des_d%C3%A9partements_fran%C3%A7ais')
tables = page_dep.findAll('table')
table = tables[1]
liste_dep=ToDf(table)
liste_dep = liste_dep.droplevel(level = [0, 1], axis = 1)
listelien=[]
#for i in range(32):
#    page=Scrap('http://www2.assemblee-nationale.fr/sycomore/resultats/(offset)/'+str((i+1)*500)+'/(query)/IiBTRUxFQ1QgbV9jb2RlX2RlcHV0ZSwgaWRfYWN0ZXVyX3RyaWJ1biwgbGVnX21heF90cmlidW4sIG5vbSwgbm9tX2FmZmljaGUsIHByZW5vbSwgZGF0ZV9uYWlzLCBkYXRlX2RlY2VzIEZST00gZGVwdXRlIFdIRVJFIDE9MSAgQU5EIG1fY29kZV9kZXB1dGUgSU4gKFNFTEVDVCBtX2NvZGVfZGVwdXRlIEZST00gbWFuZGF0LCBkZXBhcnRlbWVudCAgV0hFUkUgbWFuZGF0Lm1fbnVtX2RlcCA9IGRlcGFydGVtZW50Lm1fbnVtX2RlcCBBTkQgbWFuZGF0Lm1fdHlwZV9tYW5kYXQgPSAxICkgT1JERVIgQlkgZGF0ZV9uYWlzIERFU0Mi')
table = page_dep.find('table')#on récupère le seul tableau de la page qui liste des députés
listeDf=ToDf(table)
liste_dep=pd.concat([liste_dep,listeDf])#on récupère le dataframe et on l'ajoute à la liste  
for ele in table.findAll('a'):
    listelien.append(ele.get('href'))
liste_dep=liste_dep.reset_index()

C:\Users\sylva\AppData\Local\Temp\ipykernel_340\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_340\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes

In [7]:
simplif = re.compile("(\w+-?)*")

In [110]:
def simplifie(x):
    return simplif.match(x.replace('ç', 'c').replace('é', 'e')).group()
def unifie(x):
    return x.split("/")[0]

In [111]:
tables = page.findAll('table')
DF_tot = pd.DataFrame()
for table in tables:
    new_df = ToDf(table)
    new_df.columns = ["Nom local", "Nom en francais"]
    DF_tot=pd.concat([DF_tot,new_df])

C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
C:\Users\sylva\AppData\Local\Temp\ipykernel_14888\2293486399.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes

In [112]:
DF_tot.columns = ["Nom local", "Nom en francais"]
DF_tot["Nom en francais"] = DF_tot["Nom en francais"].apply(simplifie)
DF_tot["Nom local"] = DF_tot["Nom local"].apply(unifie)
DF_tot

             Nom local Nom en francais
0              Butrint       Bouthrote
1               Durrës        Épidamne
2                Korçë         Koritza
3              Shkodër         Scutari
4               Vlorë           Valone
..                 ...             ...
13         Tcherkassy        Tcherkass
14         Tchernihiv       Tchernikow
15         Tchyhyryne         Tcherine
16       Tchystiakove           Thorez
0   Città del Vaticano            Cité

[750 rows x 2 columns]

In [113]:
Df_dep = liste_dep[["Nom", "Chef-lieu"]].dropna()

In [114]:
for column in Df_dep.columns:
    Df_dep[column] = Df_dep[column].apply(simplifie)

In [115]:
Df_dep = Df_dep[:99]
Df_dep = Df_dep.rename(columns = {"Nom": "Nom en francais", "Chef-lieu":"Nom local"})
Df_dep

            Nom en francais        Nom local
0                       Ain  Bourg-en-Bresse
1                     Aisne             Laon
2                    Allier          Moulins
3   Alpes-de-Haute-Provence  Digne-les-Bains
4              Hautes-Alpes              Gap
..                      ...              ...
94             Val-de-Marne          Créteil
95                    Val-d         Pontoise
97               Guadeloupe      Basse-Terre
98               Martinique   Fort-de-France
99                   Guyane          Cayenne

[99 rows x 2 columns]

In [116]:
Noms_speciaux = {"Allemagne":"Berlin", "Espagne":"Madrid", "Italie":"Roma", "Aix":"Aix-en-Provence", 
                 "Suisse": "Geneve", "Catalogne": "Barcelone", "Sambre Et Mesuse": "Namur", 
                "Hollande": "Amsterdam", "Mont-Blanc": "Chamonix-Mont-Blanc", "Siegberg": "Siegburg"}
Df_special = pd.DataFrame.from_dict(Noms_speciaux, orient = "index").reset_index()
Df_special.columns = ["Nom en francais", "Nom local"]

In [117]:
Df_special

  Nom en francais        Nom local
0       Allemagne           Berlin
1         Espagne           Madrid
2          Italie             Roma
3             Aix  Aix-en-Provence

In [118]:
#DF_tot2 = 
DF_tot2 = DF_tot.loc[~(DF_tot["Nom en francais"].isin(Noms_speciaux.keys())),:]
DF_tot2 = pd.concat([DF_tot2, Df_special, Df_dep]).reset_index()
# del DF_tot2["index"]

In [119]:
DF_tot2

     index       Nom local Nom en francais
0        0         Butrint       Bouthrote
1        1          Durrës        Épidamne
2        2           Korçë         Koritza
3        3         Shkodër         Scutari
4        4          Vlorë           Valone
..     ...             ...             ...
848     94         Créteil    Val-de-Marne
849     95        Pontoise           Val-d
850     97     Basse-Terre      Guadeloupe
851     98  Fort-de-France      Martinique
852     99         Cayenne          Guyane

[853 rows x 3 columns]

In [120]:
DF_tot2[DF_tot2["Nom en francais"]=="Aix"]

     index        Nom local Nom en francais
753      3  Aix-en-Provence             Aix

In [122]:
DF_tot2[DF_tot2["Nom en francais"]=="Pyrénées-Orientales"]

     index  Nom local      Nom en francais
820     66  Perpignan  Pyrénées-Orientales

In [123]:
senateur = pd.read_csv("C:/Users/sylva/OneDrive/Bureau/senat/Data/test_17_senateurs.csv")

In [124]:
years = list(range(1789, 1816))

In [125]:
def set_place_at_year(personne, year=1800):
    if year < 1789:
        period = "AR"
        nb_period_max = 1
    if 1788 < year < 1799:
        period = "Revolution"
        nb_period_max = 10
    if 1798 < year < 1805:
        period = "Consulat"
        nb_period_max = 5
    if 1804 < year < 1816:
        period = "Empire"
        nb_period_max = 7
    for num_period in range(1, nb_period_max):
        date_num = personne["Date "+period+" "+str(num_period)]
        if date_num == str(date_num):
            if int(year) in [int(date) for date in date_num.replace("/", "-").split("-")]:
                date_num = year
            else:
                date_num = 0
        if pd.notna(date_num) and int(date_num)==int(year):
            lieu = personne["Lieu "+period+" "+str(num_period)]
            if (type(lieu)==str) & (lieu != "paris"):
                return personne["Lieu "+period+" "+str(num_period)].title()
    return "Paris"

In [126]:
for year in years:
    senateur[year] = senateur.apply(set_place_at_year, axis = 1, args = [year])

In [127]:
senateur[1796]

0                    Paris
1                    Paris
2                    Paris
3                    Paris
4                  Espagne
5                    Paris
6                    Paris
7                    Paris
8                    Paris
9                    Paris
10                   Paris
11             Montmorency
12    Campagnes Etrangeres
13                   Paris
14                   Paris
15                   Paris
16                   Paris
Name: 1796, dtype: object

In [128]:
senateur["position_sociale"]=senateur["1. place hiérarchie sociale famille"]

In [129]:
def to_nom_unique(x, year):
    if x["Nom local"] == str(x["Nom local"]):
        return x["Nom local"]
    else:
        return x[year]

In [131]:
years
for year in years:
    senateur = pd.merge(senateur, DF_tot2, left_on = year, right_on = "Nom en francais", how = 'left')
    senateur["nom_local"+str(year)] = senateur.apply(to_nom_unique, axis = 1, args = [year])
    del senateur["Nom local"]
    del senateur["Nom en francais"]
    del senateur["index"]

In [132]:
senateur

,n°,nom,"lieu naiss utile que pour appartenance juridique territoire ""nationalité""",dpt rev,nat = par zone plutôt (dpt),date naiss,date nomin,date deces,age revol,age nomin,...,nom_local1806,nom_local1807,nom_local1808,nom_local1809,nom_local1810,nom_local1811,nom_local1812,nom_local1813,nom_local1814,nom_local1815
0,66,crassous,Montpellier,herault,français,07/08/1946,18/01/2001,10/09/2001,42,54,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
1,67,colaud,Briançon,hautes-alpes,français,11/12/1954,13/02/2001,03/12/2019,34,46,...,Paris,Paris,Paris,Antwerpen,Paris,Paris,Paris,Paris,Paris,Paris
2,68,tronchet,Paris,seine,français,23/03/1926,27/02/2001,10/03/2006,63,74,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
3,69,harville,Paris,seine,français,23/04/1947,12/03/2001,08/05/2015,42,53,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
4,70,perignon,Grenade (près toulouse),haute garonne,français,31/05/1954,29/03/2001,25/12/2018,34,46,...,Parma,Paris,Napoli,Paris,Paris,Paris,Paris,Paris,Paris,Paris
5,71,gregoire,"Vého, Lunéville",NaN,français,04/12/1950,25/12/2001,04/12/2031,38,51,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
6,72,fabre de la martilliere,Nîmes,gard,français,10/03/1932,04/01/2002,27/03/2019,57,69,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
7,73,demeunier,Nozeroy,jura,français,15/03/1951,18/01/2002,07/02/2014,38,50,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
8,76,abrial,Annonnay,ardeche,français,19/03/1950,14/09/2002,13/11/2028,39,52,...,Paris,Paris,Roma,Paris,Paris,Paris,Paris,Paris,Paris,Paris
9,77,aboville,Brest,finistere,français,23/01/1930,14/09/2002,01/11/2017,59,72,...,Paris,Brest,Paris,Anvers Belgique,Paris,Paris,Paris,Paris,Paris,Paris
10,78,belloy,Morangles,oise,français,19/10/1909,14/09/2002,10/06/2008,79,92,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
11,79,fouche,Nantes,loire inferieure,français,19/09/1954,14/09/2002,25/12/2020,34,47,...,Paris,Paris,Paris,Paris,Aix-en-Provence,Paris,Paris,Ljubljana,Lyon,Paris
12,131,ordener,saint-avold,moselle,français,02/09/55,19/05/06,30/08/11,33,50,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
13,132,petiet,chatillon sur seine,cote-d'or,français,09/02/49,19/05/06,25/05/06,40,57,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
14,133,barral,grenoble,isere,français,20/04/46,19/05/06,06/06/16,43,60,...,Paris,Paris,Paris,Savona,Paris,Savona,Fontainebleau,Paris,Paris,Paris
15,134,primat,lyon,rhone-alpes,français,26/07/47,19/05/06,10/10/16,41,58,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris
16,136,arenberg,bruxelles,dyle,bruxellois,03/08/50,19/05/06,06/03/20,38,55,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris

In [133]:
DF_tot2[DF_tot2["Nom en francais"]=="Aix"]

     index        Nom local Nom en francais
753      3  Aix-en-Provence             Aix

In [134]:
senateur_for_map = senateur[["nom_local"+str(year) for year in years]+["position_sociale"]]

In [135]:
senateur_for_map.to_csv("C:/Users/sylva/OneDrive/Bureau/senat/Data/senateur_for_map.csv")

In [136]:
senateur_for_map

,nom_local1789,nom_local1790,nom_local1791,nom_local1792,nom_local1793,nom_local1794,nom_local1795,nom_local1796,nom_local1797,nom_local1798,...,nom_local1807,nom_local1808,nom_local1809,nom_local1810,nom_local1811,nom_local1812,nom_local1813,nom_local1814,nom_local1815,position_sociale
0,Paris,Herault,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,droit
1,Paris,Paris,Paris,Valmy,Armée Du Nord,Trèves Mayence,Toulon,Paris,Siegberg,Belgique,...,Paris,Paris,Antwerpen,Paris,Paris,Paris,Paris,Paris,Paris,négoce
2,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,droit
3,Paris,Paris,Paris,Jemmapes,Paris,Sambre Et Mesuse,Sur Le Mein,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,noblesse
4,Montech,Paris,Pyrenees-Orientales,Paris,Perpignan,Pyrénées Orientales,Paris,Madrid,Paris,Roma,...,Paris,Napoli,Paris,Paris,Paris,Paris,Paris,Paris,Paris,noblesse
5,Paris,Blois,Loir Et Cher,Paris,Mont-Blanc,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,artisan
6,Douai,Paris,Paris,Pyrenees-Orientales,Paris,Catalogne,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,droit
7,Paris,Paris,Paris,Etats-Unis,Paris,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,paysan
8,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,...,Paris,Roma,Paris,Paris,Paris,Paris,Paris,Paris,Paris,NaN
9,Paris,Paris,Paris,Valmy,Soissons,Valenciennes Condé Landrecies Le Quesnoy,Paris,Paris,Paris,Paris,...,Brest,Paris,Anvers Belgique,Paris,Paris,Paris,Paris,Paris,Paris,haute armée
10,Paris,Paris,Chambly (Oise),Paris,Paris,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,haute armée
11,Paris,Paris,Paris,France,Lyon,Paris,Madrid,Montmorency,Paris,Paris,...,Paris,Paris,Paris,Aix-en-Provence,Paris,Paris,Ljubljana,Lyon,Paris,négoce
12,Paris,Paris,Paris,Campagnes Etrangeres,Moselle Rhin,Campagnes Etrangeres,Paris,Campagnes Etrangeres,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,NaN
13,Paris,Ile Et Vilaine,Paris,Paris,Nantes,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,magistrat
14,Paris,Troyes,Paris,Paris,Suisse Puis Angleterre,Paris,Paris,Paris,Paris,Paris,...,Paris,Paris,Savona,Paris,Savona,Fontainebleau,Paris,Paris,Paris,magistrat
15,Paris,Paris,Cambrai,Paris,Paris,Paris,Paris,Paris,Lille,Lyon,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,faible
16,Bruxelles,Bruxelles,Paris,Roma,Paris,Berlin,Paris,Paris,Paris,Paris,...,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,Paris,haute admin province